<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Email Spammer testing website.">
    <meta name="theme-color" content="#000000">
    <title>Email Spammer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menubar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themetoggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggleSpamForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggleAccountForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globalTimesCounter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notificationContainer.css') }}">
</head>
<body class="light-mode">
    <div id="globalTimesCounter"></div>
    <div id="notificationContainer"></div>
    <button id="menuToggle">Menu</button>
    <div id="menu" style="display: none;">
        <button id="themeToggle">Toggle Dark Mode</button>
        <button id="toggleCreateAccountForm">Hide Create Account Form</button>
        <button id="toggleSpamForm">Hide Spam Form</button>
    </div>
    <div class="container">
        <form id="spamForm">
            <h1>Email Spammer</h1>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required autocomplete="new-email"><br>
            <label for="times">Times:</label>
            <input type="number" id="times" name="times" min="1" required autocomplete="new-times"><br>
            <button type="submit">Start Spamming</button>
        </form>
        <form id="createAccountForm">
            <h1>Create Account</h1>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required autocomplete="new-email"><br>
            <label for="password">Password:</label>
            <input type="string" id="password" name="password" required autocomplete="new-password"><br>
            <button type="submit">Create Account</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/menubar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spamForm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hideSpamForm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/createAccount.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hideAccountForm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateTimesCounter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggleDarkmode.js') }}"></script>
</body>
</html>
