body.light-mode #RandomAccount {
    position: absolute;
    top: 130px;
    left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 0px 6px #ffffff;
}

body.dark-mode #RandomAccount {
    position: absolute;
    top: 130px;
    left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 0px 6px #ffffff;
}

body.light-mode #RandomAccount:active {
    transform: scale(0.95);
    box-shadow: 0 0px 4px #000000;
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode #RandomAccount:active {
    transform: scale(0.95);
    box-shadow: 0 0px 4px #000000;
    background-color: #333333;
    color: #ffffff;
}

/* Hover Animations */

body.light-mode #RandomAccount:hover,
body.light-mode #RandomAccount:focus {
    animation: light-mode-colorChange 2s infinite;
}

body.dark-mode #RandomAccount:hover,
body.dark-mode #RandomAccount:focus {
    animation: dark-mode-colorChange 2s infinite;
}

@keyframes light-mode-colorChange {
    0% {
        background-color: #212121;
        color: #ffffff;
    }

    50% {
        background-color: #656565;
        color: #ffffff;
    }

    100% {
        background-color: #212121;
        color: #ffffff;
    }
}


@keyframes dark-mode-colorChange {
    0% {
        background-color: #000000;
    }

    50% {
        background-color: #656565;
    }

    100% {
        background-color: #000000;
    }
}