body.light-mode #toggleSpamForm {
    position: absolute;
    top: 50px;
    left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 0px 6px #ffffff;
}

body.dark-mode #toggleSpamForm {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 0px 6px #ffffff;
}

/* Hover Animations */

body.light-mode #toggleSpamForm:hover,
body.light-mode #toggleSpamForm:focus {
    animation: light-mode-colorChange 2s infinite;
}

body.dark-mode #toggleSpamForm:hover,
body.dark-mode #toggleSpamForm:focus {
    animation: dark-mode-colorChange 2s infinite;
}

/* when active */
body.light-mode #toggleSpamForm:active,
body.dark-mode #toggleSpamForm:active {
    transform: scale(0.95);
    box-shadow: 0 0px 4px #000000;
}

@keyframes light-mode-colorChange {
    0% {
        background-color: #ffffff;
    }

    50% {
        background-color: #656565;
    }

    100% {
        background-color: #ffffff;
    }
}

@keyframes dark-mode-colorChange {
    0% {
        background-color: #000000;
    }

    50% {
        background-color: #656565;
    }

    100% {
        background-color: #000000;
    }
}