#title {
    position: fixed;
    top: 5px;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: white;
}