#watermark {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: rotate(0.5deg);
    opacity: 0.09; /* Initial opacity */
    z-index: 1000;
    border-radius: 50%; /* Round the corners */
    animation: rotate 10s linear infinite, fadeInOut 5s ease-in-out infinite;
    pointer-events: none; /* Make the watermark non-clickable */
    user-select: none; /* Make the watermark non-selectable */
    -webkit-user-select: none; /* Make the watermark non-selectable */
    -moz-user-select: none; /* Make the watermark non-selectable */
    -ms-user-select: none; /* Make the watermark non-selectable */
    -o-user-select: none; /* Make the watermark non-selectable */
    -khtml-user-select: none; /* Make the watermark non-selectable */
    -webkit-touch-callout: none; /* Make the watermark non-selectable */
}

/* Define the rotation animation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Define the fadeInOut animation for a more dynamic look */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0.05; /* Start and end with low opacity */
    }

    50% {
        opacity: 0.35; /* Midpoint: increase opacity */
    }
}

/* Apply the animation to the watermark */
#watermark {
    animation: rotate 10s linear infinite, fadeInOut 5s ease-in-out infinite;
}

/* Make the watermark a circle on mobile */
@media (max-width: 767px) {
    #watermark {
        width: 100px;
        height: 100px;
    }
}

/* Make the watermark a circle on PC */
@media (min-width: 768px) {
    #watermark {
        width: 150px;
        height: 150px;
    }
}
