body.dark-mode .WebsiteList {
    position: absolute;
    top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
    transition: background-color 1s ease-in-out;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0px 6px #ffffff;
}

body.dark-mode .WebsiteList a,
body.light-mode .WebsiteList a {
    text-decoration: none;
}

body.light-mode .WebsiteList {
    position: absolute;
    top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
    background-color: #f2f2f2;
    color: #000000;
    box-shadow: 0 0px 6px #000000;
}


body.dark-mode .WebsiteList a:visited {
    color: #ffffff;
}

body.light-mode .WebsiteList a:visited {
    color: #000000;
}

body.light-mode .WebsiteList,
body.dark-mode .WebsiteList ul {
    transform: scale(1);
    transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
    box-shadow: 0 0 6px #ffffff;
    background-image: linear-gradient(160deg, #cecece, #4d4d4d, #ffffff, #4d4d4d, #4d4d4d);
    background-size: 600% 600%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 1s linear infinite;
}

body.light-mode .WebsiteList:hover,
body.dark-mode .WebsiteList ul:hover {
    /* Define how the transform property should change on hover */
    transform: scale(1.05);
    /* Scale up slightly */
    box-shadow: 0 0 10px #ffffff;
    /* Increase the shadow for a subtle effect */
    animation: rainbow 1s linear infinite;
    transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Add hover animation to the contents of the div ul */

/*
body.dark-mode .WebsiteList ul:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
*/